/*======================================
=            CSS RESET 	=
======================================*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*======================================
=            General Styles            =
======================================*/

body{
    padding: 20px;
    border: 15px solid rgb(0, 0, 0);
    font-size: 14px;
}

/*==      navigation bar     ==*/

nav{
    border: 6px solid rgb(255, 136, 136);
}
#navbar{
    background-color: aquamarine;
}

/*=  End of navigation  =*/
/*==      Main     ==*/
main{
    border: 6px solid rgb(255, 136, 136);
}
#center{
    padding: 5px;
    margin: 2em 0px;
    
}
#logo{
    width: 12em;
}

/*=  End of Main =*/
/*==      Footer     ==*/

footer{
    border: 6px solid rgb(255, 122, 122);
}

#footers{
    background-color: beige
;}



.border{
    border: 2px solid rgb(83, 27, 83);
    padding: 5px;
}
.border2{
    border: 2px solid tomato ;
    padding: 5px;
}
.border3{
    border: 2px solid rgb(21, 109, 100);
    padding: 5px;
}


