/*======================================
=            CSS RESET 	=
======================================*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*======================================
=            General Styles            =
======================================*/

body{
    font-size: 14px;
    background-color: #ffffff;
}
span{
    padding: 0 10px;
}
/*==      navigation bar     ==*/

nav{ 
    display: flex;
    left: 0;
    top: 0; 
    justify-content: flex-end;
}
#navbar{
    line-height: 24px;
    vertical-align: middle;
}

/*=  End of navigation  =*/
/* border: 3px solid rgb(255, 136, 136);   for needin of the borderin*/



/*==      Main     ==*/
html{
    font-family: arial,sans-serif;
}
main{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#logo{
    height: 20em;
}
#searchform{
    width: auto;
    max-width: 584px;
    margin: 0px 80px;
}

.searchbar{
    width:565px;
    border-radius:30px;
    border:2px solid #e9e9e9cc;
}

.innersearch{
    height:45px;
    border:none;
    width:500px;
    font-size:16px;
    outline: none;
    
  }

  .inputs{
    margin-top: 15px;    
  }

/*=  End of Main =*/




/*==      Footer     ==*/

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#footers{
    line-height: 24px;
    vertical-align: middle;
    background-color: rgb(231, 230, 227)
;}

#second-footer{
    display: flex;
    margin: 0;
    justify-content: space-between;
}
/*==     End of Footer     ==*/






.border{
    border: 2px solid rgb(83, 27, 83);
    padding: 5px;
}
.border2{
    border: 2px solid tomato ;
    padding: 5px;
}
.border3{
    border: 2px solid rgb(21, 109, 100);
    padding: 5px;
}


